html,
body {
    margin: 0;
    background-color: #107913;
    color: white
}

.titulo {
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 25px;
}


#divMensaje {
    text-align: center;
	font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 40%;
    position: absolute;
    top: 200px;
    right: 0;
    bottom: 0%;
    left: 200px;
    font-size: 2em;
    color: red;
    z-index: initial;

}

.carta {
    position: relative;
    width: 150px;
    left: 100px;
    margin-left: -75px;
}

/* # -> hace referencia al id */
#computadora-cartas,
#jugador-cartas {
    height: 240px;
}